.pytest_cache/
.mypy_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

__pycache__

# Environments
*.env
!*.example.env
env/
venv/
.venv/

# local-history
.history/

### VSCode ###
.vscode/**/*
!.vscode/extensions.json
!.vscode/extensions.recommended.json
!.vscode/launch.json
!.vscode/README.md
!.vscode/settings.*.json
!.vscode/tasks.json